Mainly 3 steps involved  
1. Preprocessing 
2. Prepare the data loader
3. build the model.

In [1]:
import pandas as pd
import spacy

In [2]:
df = pd.read_csv(r'.data\Amazon\3000test.csv', header = None)
df

,0,1,2,3
0,0,1,mens ultrasheer,"This model may be ok for sedentary types, but ..."
1,1,4,Surprisingly delightful,This is a fast read filled with unexpected hum...
2,2,2,"Works, but not as advertised",I bought one of these chargers..the instructio...
3,3,2,Oh dear,I was excited to find a book ostensibly about ...
4,4,2,Incorrect disc!,"I am a big JVC fan, but I do not like this mod..."
...,...,...,...,...
2995,2995,2,A MAJOR ( PUN INTENDED) DISAPPOINTMENT,I was so disappointed in this book. Having rea...
2996,2996,4,Good Inside look at the U.S. Open,The author does a great job of taking the read...
2997,2997,1,A Good Open Spoiled,"The subtitle should be, ""Inside the Port-o-Joh..."
2998,2998,2,"Good ideas, but horrible context",I praise Ostebee and Zorn for making an attemp...
2999,2999,3,High Volume of Typos,This is not a literary review of Philip Roth's...

In [3]:
df = df.drop(0, axis=1)
df

,1,2,3
0,1,mens ultrasheer,"This model may be ok for sedentary types, but ..."
1,4,Surprisingly delightful,This is a fast read filled with unexpected hum...
2,2,"Works, but not as advertised",I bought one of these chargers..the instructio...
3,2,Oh dear,I was excited to find a book ostensibly about ...
4,2,Incorrect disc!,"I am a big JVC fan, but I do not like this mod..."
...,...,...,...
2995,2,A MAJOR ( PUN INTENDED) DISAPPOINTMENT,I was so disappointed in this book. Having rea...
2996,4,Good Inside look at the U.S. Open,The author does a great job of taking the read...
2997,1,A Good Open Spoiled,"The subtitle should be, ""Inside the Port-o-Joh..."
2998,2,"Good ideas, but horrible context",I praise Ostebee and Zorn for making an attemp...
2999,3,High Volume of Typos,This is not a literary review of Philip Roth's...

In [4]:
df.rename({1:"star", 2:"rating1", 3:"rating2"}, axis=1, inplace=True)
df

,star,rating1,rating2
0,1,mens ultrasheer,"This model may be ok for sedentary types, but ..."
1,4,Surprisingly delightful,This is a fast read filled with unexpected hum...
2,2,"Works, but not as advertised",I bought one of these chargers..the instructio...
3,2,Oh dear,I was excited to find a book ostensibly about ...
4,2,Incorrect disc!,"I am a big JVC fan, but I do not like this mod..."
...,...,...,...
2995,2,A MAJOR ( PUN INTENDED) DISAPPOINTMENT,I was so disappointed in this book. Having rea...
2996,4,Good Inside look at the U.S. Open,The author does a great job of taking the read...
2997,1,A Good Open Spoiled,"The subtitle should be, ""Inside the Port-o-Joh..."
2998,2,"Good ideas, but horrible context",I praise Ostebee and Zorn for making an attemp...
2999,3,High Volume of Typos,This is not a literary review of Philip Roth's...

In [5]:
df["review"] = df['rating1'] +' ' + df['rating2']
df.drop(columns=['rating1','rating2'], inplace=True)
df

      star                                             review
0        1  mens ultrasheer This model may be ok for seden...
1        4  Surprisingly delightful This is a fast read fi...
2        2  Works, but not as advertised I bought one of t...
3        2  Oh dear I was excited to find a book ostensibl...
4        2  Incorrect disc! I am a big JVC fan, but I do n...
...    ...                                                ...
2995     2  A MAJOR ( PUN INTENDED) DISAPPOINTMENT I was s...
2996     4  Good Inside look at the U.S. Open The author d...
2997     1  A Good Open Spoiled The subtitle should be, "I...
2998     2  Good ideas, but horrible context I praise Oste...
2999     3  High Volume of Typos This is not a literary re...

[3000 rows x 2 columns]

In [6]:
df.star = df.star.apply(lambda x: int(x)-1)
df

      star                                             review
0        0  mens ultrasheer This model may be ok for seden...
1        3  Surprisingly delightful This is a fast read fi...
2        1  Works, but not as advertised I bought one of t...
3        1  Oh dear I was excited to find a book ostensibl...
4        1  Incorrect disc! I am a big JVC fan, but I do n...
...    ...                                                ...
2995     1  A MAJOR ( PUN INTENDED) DISAPPOINTMENT I was s...
2996     3  Good Inside look at the U.S. Open The author d...
2997     0  A Good Open Spoiled The subtitle should be, "I...
2998     1  Good ideas, but horrible context I praise Oste...
2999     2  High Volume of Typos This is not a literary re...

[3000 rows x 2 columns]

In [ ]:
nlp = spacy.load("en_core_web_sm")